[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopy = "==1.20.0"
mysqlclient = "==1.4.6"
Django = "==3.0.14"
geographiclib = "==1.50"
pytz = "==2019.3"

[dev-packages]
